*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.delete_bar{

}
.delete_bar .delete_bar_main{
    position: relative;
    margin: 0 auto;
}
.delete_bar a{
    display: block;
    position: relative;
    overflow: hidden;
}
.delete_bar .picClose{
    position: absolute;
    right: 0;
    top: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
    color: aliceblue;
}


#logo{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 60px;
    height: 180px;
}



.top_bar{
    height: 24px;
    background-color: #000;

}
.top_bar .top_bar_in{
    font-family: 微软雅黑;
    color: #9e9e9e;
    font-size: 12px;
    width: 1200px;
    height: 24px;
    margin: 0 auto;
}
.top_bar .top_bar_ul li{
    float: left;
    margin-left: 20px;
    list-style: none;
}
.top_bar .top_bar_ul li a{
     font-size: 12px;
     text-decoration: none;
     line-height: 20px;
     color: gray;
 }
.top_bar .top_bar_ul li a:hover{
    color: white;
}





.top_link{
    width: 90px;
    position: relative;
    float: left;
    z-index: 9999;
    margin-left: 10px;
}
.top_link .top_title{
    font-family: 微软雅黑;
    font-size: 12px;
    height: 24px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    padding-left: 10px;
}
.top_link .top_title .top_down{
    background: no-repeat;
    background-image:url(//p1.lefile.cn/product/adminweb/2017/06/14/79ef0ba6-36b0-4b48-8598-ff560015346d_1.png);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 7px;
    margin-left: 4px;
}
.top_link ul{
    border: 1px solid #d3d3d3;
    padding: 0 8px 8px 8px;
    width: 120px;
}
.top_link ul li{
    width: 120px;
    height: 32px;
    line-height: 32px;
    list-style: none;
}
.top_link ul li a {
    text-decoration: none;
    color: #000000;
}
.top_link ul li a:hover {
    text-decoration: none;
    color: red;
}
.top_pic_1{
    background-image: url("img/weibo.png");
    width: 31px;
    height: 31px;
    float: left;
 }
.top_pic_2{
    background-image: url("img/yyq.png");
    width: 31px;
    height: 31px;
    float: left;
}
.top_pic_3{
    background-image: url("img/weixin.png");
    width: 31px;
    height: 31px;
    float: left;
}
.top_pic_4{
    background-image: url("img/tieba.png");
    width: 31px;
    height: 31px;
    float: left;
}
.top_pic_5{
    background-image: url("img/xqbl.png");
    width: 31px;
    height: 31px;
    float: left;
}   
.top_pic_6{
    background-image: url("img/qzone.png");
    width: 31px;
    height: 31px;
    float: left;
}
.top_pic_7{
    background-image: url("img/shequ.png");
    width: 31px;
    height: 31px;
    float: left;
}
.top_link .phone{
    width: 250px;
    height: 120px;
}
.top_link .phone_d{
    position: relative;
    padding-left: 116px;
    padding-top: 14px;
}
.top_link .phone_icon{
    position: absolute;
    top: 20px;
    left: 24px;
    display: block;
    width: 76px;
    height: 76px;
}
.top_link .phones{
    width: 108px;
    height: 38px;
    margin-top: 4px;
}




.atp1231231231681 .shop_news {
    width: 400px;
    float:left;
    margin-left:58px
}
.demo222{}
.atp1231231231681 .shop_news_con {
    margin-left:20px;
    width: 380px;
}

.atp1231231231681 .shop_news_con h2 {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-weight: normal;
    font-size: 18px;
    background: #f5f5f5;
    color: #2e2e2e;
    position: relative;
}

.atp1231231231681 .shop_news_con h2 a {
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 0;
}

.atp1231231231681 .shop_news_con .shop_news_txt {
    height: 23px;
    line-height:23px
}

.atp1231231231681 .shop_news_con .shop_news_main {
    width: 431px;
    height: 23px;
    overflow: hidden;
    float:left;
}

.atp1231231231681 .shop_news_con .shop_news_main li {
    height: 26px;
    line-height: 26px;
    width: 431px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

.atp1231231231681 .shop_news_con .shop_news_main li a {
    text-decoration: none;
    color: #9e9e9e;
}

.atp1231231231681 .shop_news_con .shop_news_main li a:hover {
    color: #9e9e9e;
}
.atp1231231231681 .horn_ring{
    float:left;
    margin-top:6px;
    width: 16px;
    height: 13px;
    background: url(https://p3.lefile.cn/product/adminweb/2017/06/06/1cab7988-c2d0-4f41-a88c-1e2f198ac9a7_1.png);
}


.new_header{
    height: 74px;
    position: relative;
}


.new_header #header {
    height: 74px;
    background-color: #eee;

}
.new_header #header #small_logo {
    position: absolute;
    left: 0;
    z-index: 200;
}
.new_header #header .head_main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.head_main .head_nav{
    width: 670px;
    height: 74px;
    float: left;
    margin-left: 9px;
    padding-left: 0;
    position: relative;

}
.head_main .nav_box{
    padding-left: 0;
    width: 666px;
    height: 56px;
    margin: 0 auto;
}
.head_main .nav_box ul{


    height: 30px;
    float: left;
    padding: 0;
    list-style: none;
    font-size: 12px;
}
.head_main .nav_box ul li{

    float: left;
    padding: 0 12px;
    line-height: 56px;
    font-size: 16px;
    text-decoration: none;
    position: relative;


}
.head_main .nav_box ul li a{
    text-decoration: none;
    color: black;
}
.head_main .nav_box ul li a:hover{
    color: red;
}
.header_main .nav_name{

}
.header_main .nav_name .nav_name_box{
    color: black;
    text-decoration: none;
    vertical-align: middle;

}
.header_main .back_small_img{
    width: 32px;
    height: 21px;
    display: inline-block;

}

.header_main .hot{
   background-image: url("img/hot.png");
    position: absolute;
    top: 9px;
    margin-left: -5px;


}
.header_main .new{
   background-image: url("img/new.png");
    position: absolute;
    top: 9px;
    margin-left: -5px;
}




.search{
    position: absolute;
    top: 0px;
    right: 219px;
}
.search .logo_text{
    position: relative;
    float: right;
}
.search .search_box{
    position: relative;
    margin-right: 100px;
    margin-top: 25px;
}
.search .search_box_image{
    display: block;
    float: right;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: rgb(204, 204, 204);
    font-size: 16px;
    font-family: 微软雅黑;
    color: #000000;
    position: relative;
    margin-right: 0;
    margin-top: 4px;
}
.search_box input{
    width: 220px;
    height: 26px;
    border: 1px solid #d2d2d2;
    outline: 0;
    font-size: 12px;
    padding: 0 10px;
    float: right;
    line-height: 26px;
    margin-right: -1px;
    background-color: #eee;
    margin-top: 4px;
    color: #9e9e9e;
}
.search_box ul{
    top: 9px;
    position: absolute;
    right: 40px;
    float: right;
    list-style: none;
}
.search_box li{
    position: relative;
    list-style: none;
    float: left;
    z-index: 111;
}
.search_box ul li a{
    text-decoration: none;
    color: #9e9e9e;
}
.search_box ul li a:hover{
    text-decoration: none;
    color: red;
}
.top_login_car{
    width: 78px;
    position: relative;
    float: right;
    z-index: 9999;
}
.top_login_car .top_login_title{
    height: 38px;
    line-height: 38px;
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    font-size: 14px;
}
.top_login_car img{
    width: 78px;
    height: 38px;
    position: absolute;
    top: 0;
    margin-top: -35px;
    right: 50px;
}





.top_land{
    float: right;
    position: absolute;
    top: 40px;
    right: 150px;
}
.top_land li{
    border-right:#333 1px solid;
    float: left;
    height: 14px;
    line-height: 14px;
    padding: 0 10px;
    text-decoration: none;
    list-style: none;
}
.top_land li a{
    color: #9e9e9e;
    text-decoration: none;

}
.top_land li a:hover{
    color: red;
    text-decoration: none;
}









.banner_select{
    position: relative;
    width: 100%;
    margin-top: -425px;
}

.banner_select .xin_select{
    height: 406px;
    position: relative;
}
.banner_select .ul111{
    list-style: none;
    font-size: 12px;
    margin-left: 33px;
    margin-top: -20px;

}
.banner_select .ul111 .limistake{
    position: relative;
    background-color: #ffffff;
    width: 190px;
    height: 39px;
    border: 1px solid #9e9e9e;
    border-bottom: none;

}
.banner_select .ul111 .amistake{
    width: 180px;
    height: 40px;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 39px;
    float: left;
    margin-left: 10px;
}
.banner_select .ul111 a:hover{
    color: red;
    text-decoration: none;
    font-size: 15px;
    line-height: 39px;
}
.banner_select .xin_select div{

    position: relative;
}
.banner_select .xin_select div .list_icon img{
    width: 25px;
    height: 23px;
    position: absolute;
    right: 2px;
    top: 8px;
}
.all{
    position: relative;
    width: auto;
    height: 406px;
}
#smallNew{
    width: 100%;
    height: 406px;
}
#smallNew .ul11 li{
    text-decoration: none;
    list-style: none;

}
#smallNew img{
    margin-top: -20px;
    width: 100%;
    height: 402px;
}
#smallNew .btnleft{
    cursor: pointer;
    width: 41px;
    height: 69px;
    background-image: url(http://www.lenovo.com.cn/images/icon.png);
    background-repeat: no-repeat;
    background-position: -88px -192px;
    position: absolute;
    left: 50%;
    margin-left: -406px;
    top: 150px;
}
#smallNew .btnright{
    cursor: pointer;
    width: 41px;
    height: 69px;
    background-image: url(http://www.lenovo.com.cn/images/icon.png);
    background-repeat: no-repeat;
    background-position: -130px -192px;
    float: right;
    position: absolute;
    right: 50%;
    margin-right: -405px;
    top: 150px;
}
.all #smallNew .lubo_dots{

    height: 50px;
    position: absolute;
    left: 50%;
    top: 340px;
    z-index: 3;
    text-align: center;
}
.lubo_dots #dots_ul{
    text-align: center;
    list-style: none;
}
.lubo_dots #dots_ul li{
    width: 10px;
    height: 10px;
    background-color: #383838;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    text-decoration: none;
    list-style: none;
}
.lubo_dots #dots_ul li:hover{
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    text-decoration: none;
    list-style: none;
}













/* 横空出世的页面*/
.list_cont{
    width: 900px;
    height: 403px;
    background: #f7f7f7;
    position: absolute !important;
    left: 225px;
    top: -1px;
    border-right: 1px solid #e6e6e6;
    z-index: 99999;

}
.list_cont .list_lt{
    width: 600px;
    float: left;
    margin-top: 20px;

}
.list_lt .list_lta{
    margin-top: 10px;
    line-height: 30px;
    margin-left: 20px;
}
.list_lta p{
    font-size: 13px;
    color: #000000;
    list-style: none;

}
.list_lt .clearfix{
    margin-left: 55px;
    border-bottom: 1px solid #e5e5e5;
    width: 575px;
    padding-bottom: 5px;
    padding-top: 2px;
}
.list_lt ul li{
    font-size: 12px;
    float: left;
    line-height: 20px;
    height: 20px;
    zoom: 1;
    text-decoration: none;
    list-style:none;
}
.list_lt a{
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}
.list_lt a:hover{
    font-size: 12px !important;
    color: red;
    text-decoration: none;
}
.list_cont .list_rt{
    width: 252px;
    float: right;
    margin-top: 17px;
}
.list_rt a{
    display: block;
    text-decoration: none;
    color: #000000;
}
.list_rt img{
    width: 252px;
    height: 160px;
    margin-bottom: 5px;
    border: none;
}
.clearfix li{
    margin-left: 20px;
    margin-top: -12px;
}


.middle_body {
    width: 1200px;
    height: 634px;
}
.middle_body .middle_bar{
    position: relative;
    width: 1200px;
    height: 244px;
    margin-left: 50px;
}
.middle_body .gray_red{
    position: relative;
    width: 1200px;
    height:  100px;
}
.gray_red ul{
    text-align: center;
    margin-left: 120px;
    border-bottom: 1px solid #9e9e9e;
    width: 1200px;
    height: 90px;
}
.gray_red ul li{
    float: left;
    list-style: none;
    width: 60px;
    height: 70px;
    margin: 0 30px;
}
.gray_red ul a{
    text-decoration: none;
}
.gray_red ul li p{
    font-size: 12px;
    color: #9e9e9e;
    text-decoration: none;

}
.middle_body .gray_red .pic_three{
margin-top: 10px;
}

.middle_bar .start_box{
    position: relative;
    width: 1200px;
    height: 376px;
    margin: 0 auto;
    padding-bottom: 35px;
}
.start_box h3{
    width: 1200px;
    height: 42px;
}

.start_box h3 span{
    font-family:微软雅黑 Light;
    font-size: 20px;
    line-height: 42px;
    font-weight: normal;
}
.start_box .lunbo{
    width: 1200px;
    height: 299px;
}
.lunbo .wrap{
    width: 1200px;
    height: 299px;
    position: relative;
}
.wrap ul{
    width: auto;
    height: 297px;
    list-style: none;
    position: absolute;
    top: 0;
}
.wrap ul li{
    width: 198px;
    height: 297px;
    border: 1px solid #e6e6e6;
    text-align: center;
    float: left;
}
.wrap ul li img{
    width: 180px;
    height: 180px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.wrap ul li a{
    color: #000000;
    font-size: 13px;
    text-decoration: none;
}
.wrap .red a{
    color: red;
}
.lunbo .lunbo_left_btn{
    position: absolute;
    right: 28px;
    top: -27px;
    width: 18px;
    height: 18px;
    margin-top: 30px;
}
.lunbo .lunbo_right_btn{
    position: absolute;
    right: 1px;
    top: -27px;
    width: 18px;
    height: 18px;
    margin-top: 27px;
}




.bottom{
    min-width: 1200px;
}
.bottom .foot_div{
    background-color: #f5f5f5;
    height: 83px;
}
.foot_div .foot_div_in{
    width: 1200px;
    height: 83px;
    margin: 0 auto;
}
.foot_div .foot_div_in img{
    width: 1200px;
    height: 83px;

}
.bottom .footer{
    background: #ffffff;
    color: #000000;
    width: 1200px;
    margin: 0 auto;
}
.bottom .footer .footer_in{
    padding-top: 10px;
    height: 130px;
}
.bottom .footer .footer_in .footer_inside{
    padding-bottom: 30px;
}
.bottom .footer .footer_in .footer_inside dl{
    float: left;
    height: 140px;
    position: relative;
    padding-right: 148px;
}
dl dt{
    line-height: 30px;
    position: relative;
}
dt a{
    font-size: 14px;
    color: #000000;
}
dd a{
    display: block;
    line-height: 22px;
    color: #555;
    font-size: 12px;
}
.last_bottom{
    background: #f5f5f5;
    padding-bottom: 20px;
}
.last_bottom .last_bottom_in{
    text-align: center;
    padding-top: 25px;
    position: relative;
}
.last_bottom .last_bottom_in .line_in{
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 4px 0;
    color: #6f7170;
    font-size: 12px;
}
.last_bottom .last_bottom_in .line_in a{
    color: #6f7170;
}

.china_pic{
    position: absolute;
    margin-top: 5px;
    right: 220px;
}
.china_pic .c_select{
position: absolute;
    right: -73px;
    top: -3px;

}
.china_pic img{
    width: 25px;
    height: 19px;
}

























